/* GENERAL CONFIGS */

:root {
    /* Paleta de cores */
    --color-neutral-0: #1B1056;
    --color-neutral-10: #3A23BE;
    --color-neutral-20: #aaaaaa;
    --color-neutral-30: white;
}

body {
    /* Configurações da tela de fundo */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("/img/Background\ Up\ Money.png");
    background-size: contain;
    background-color: #f0f0f0;
    
}

html {
    /* Efeito de scroll suave*/
    scroll-behavior: smooth;
}

/* HEADER */

#banner {
    background-color: var(--color-neutral-0);
    text-align: center;
    padding: 100px;
    box-shadow: 1px 1px 1px;
}

#logo {
    max-width: 100%;
    height: auto;
}

#menu {
    background-color: none;
    padding: 0px;
    text-align: center;
}

#menu a {
    color: var(--color-neutral-30);
    text-decoration: none;
    margin: 5%;
    font-size: 18px;
}

#menu a:hover {
    opacity: 0.5;
}

.hamburger-menu {
    display: none;
}

#hidden-menu {
    display: none;
}

/* CONTENT */

.page-form {
    /* Formato formulário */
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    padding-top: 5px;
    background-color: var(--color-neutral-10);
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .500);
    margin-top: 40px;
    /* Suavizar o efeito do hover */
    transition: all 0.4s;
}

.page-form:hover {
    /* Efeito hover formulario */
    max-width: 50.5%;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, .500);

}

.page-form h2 {
    /* Títulos formulário */
    text-align: left;
    color: var(--color-neutral-30);
}


.form-group {
       /* Espaçamento */
    margin-bottom: 20px;
}

#investimentos.form-group{
    /* Configuração form investimentos */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.form-group label {
    /* Configuração dos textos - forms */
    color: var(--color-neutral-30);
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    /* Configuração dos input - forms */
    outline: none;
    border: none;
    border-radius: 10px;
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form-group input:focus {
    /* Efeito no clique nos inputs */
    border: solid;
    border-width: 0.5px;
    border-color: var(--color-neutral-0);
}

.form-input-group{
    /* Configuração agrupamento - input + "unidade de medida" */
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.radio-group {
    /* Configuração agrupamento - radio buttons + text */
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    align-items: center;
    width: auto;
    flex-direction: row;
}

.radio-group input {
    /* Configuração radio button */
    margin-right: 10px;
    padding: 0;
    width: 5%;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-neutral-30);

    /* Remove a borda de foco ao clicar */
    outline: none;
    cursor: default;
}

.radio-group input:checked {
    /* Configuração radio button - ativado */
    background-color: var(--color-neutral-0);
    border-color: var(--color-neutral-0);
}

.radio-group label {
    /* Configuração texto radio button */
    padding-top: 10px;
    margin-right: 50px;
    width: 100%;
    height: 30px;
}

.button-group {
    /* Configuração agrupamento botões limpar e mostrar resultado */
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

button {
    /* Configuração padrão dos botões */
    background-color: var(--color-neutral-0);
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    /* Efeito hover nos botões */
    border: solid;
    border-width: 1px;
    border-color: var(--color-neutral-0);
}

button#limpar {
    /* Configuração padrão dos botões Limpar */
    background-color: #3A23BE;
    border: solid;
    border-width: 1px;
    border-color: var(--color-neutral-0);
    color: var(--color-neutral-0);
}

.resposta{
    /* Configuração padrão das respostas dos formulários */
    margin-top: 30px;
    color: var(--color-neutral-30);
}

#resposta-form1{
    /* Estado padrão do agrupamento - linha de divisão + respostas do form 1*/
    /* Será modificado pelo js */
    display: none;
}
#resposta-form2{
    /* Estado padrão do agrupamento - linha de divisão + respostas do form 1*/
    /* Será modificado pelo js */
    display: none;
}

/* FOOTER */
footer {
    /* Configuração geral rodapé */
    margin-top: 40px;
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    /* Configuração geral links rodapé */
    text-decoration: none;
}

#footer_content {
    /* Configuração da estrutura do rodapé */
    background-color: var(--color-neutral-0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
    color: var(--color-neutral-30);
}

#footer_social_media {
    /* Configuração geral do agrupamento dos ícones de rede social */
    display: flex;
    gap: 2.5rem;
    margin-top: 1.5rem;
} 

/* Configuração dos ícones de rede social */

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    background: linear-gradient(rgb(255, 255, 255),rgb(134, 134, 134));
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    /* Efeito nos icones da rede social */
    opacity: 0.8;
}

.footer-list {
    /* Configuração da lista de canais recomendados */
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer-list h3{
    color: var(--color-neutral-30);
}
.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

/* Configuração da aba de inscrição do rodapé */
#footer_subscribe {
    
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#footer_subscribe h3{
    color: var(--color-neutral-30);
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}


input#email{
    outline: none;
    border-color: var(--color-neutral-10);
    border-radius: 8%;
    border-width: 1px;
}

#input_group{
    display: flex;
    padding: 10px 0px;
}

#footer-email-bt{
    background-color: var(--color-neutral-10);
}

#footer-subtitle{
    color: var(--color-neutral-20);
}

#footer_copyright{
    background-color: var(--color-neutral-0);
    color: var(--color-neutral-20);
    padding: 0px 25px;
}




/* Ajustes para tablets */
@media only screen and (max-width: 768px) {
    
    #banner {
        /* Modificação no header */
        padding: 0px;
        height: 100px;
        display: flex;
        align-items: center;
    }

    #logo {
        /* Adequação da logo */
        float: left;
        max-height: 100px;
        margin-left: 15px;
    }

    #menu {
        /* Configuração do agrupamento do menu nav */
        margin-left: auto;
        text-align: right;
    }

    #menu a {
        /* Adequação de cada item do menu nav */
        display: inline-block;
        margin: 0 15px;
        font-size: 15px;
    }

    #menu a:hover {
        opacity: 0.5;
    }

    /* Configuração do agrupamento do menu hamburger */
    .hamburger-menu {
        display: none;
    }

    #hidden-menu {
        display: none;
    }

    /* Adequação do formulário de investimentos */
    #investimentos.form-group{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
    }

    /* Adequação do rodapé */
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;
    }
    
    

}

@media only screen and (max-width: 575px) {
    /* Adequação do rodapé em telas que atingem o limite de espaçamento dele*/
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Ajustes para celulares */
@media only screen and (max-width: 475px) {
    /* Adequação do header */
    #banner {
        padding: 20px;
    }

    /* Adequação da logo */
    #logo {
        float: left;
        max-height: 100px;
        margin-left: 20px;
    }

    /* Adequação do menu navegação para ficarem ocultos no menu hamburguer*/
    #menu {
        text-align: right;
    }

    #menu a {
        display: none;
    }

    /* Aparição do menu hamburguer e configurações */
    .hamburger-menu {
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: white;
    }

    #hidden-menu {
        display: none;
        float: right;
        top: 5%;
        left: 0;
        width: 50%;
        background-color: var(--color-neutral-0);
        text-align: center;
    }

    #hidden-menu a {
        display: block;
        padding: 10px;
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }



}

/* Adequação do agrupamento dos botões para telas ainda menores */
@media only screen and (max-width: 410px) {

.button-group{
    background-color: var(--color-neutral-10);
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 0;
    
}
.button-group button{
    margin-top: 8px;
    
}
}